<!DOCTYPE html>
<html lang="en" id="FirstExtHTML">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>extension 1</title>
    <link rel="stylesheet" href="./styles.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>

<style>
  body {
      height: 100vh;
      overflow: hidden;
  }
</style>
<body>
  <!-- <script type="module" src="./extension.js"></script> -->
    <div class="extension">
        <div class="extension-container"> 
          <header>
            <img src='./images//brainLogo.svg' alt="Home" />
            <img src='./images/cancel.svg' alt="Close" id="close-btn" />
          </header>
          <main id="screen-1" class="screen active">
            <img src='./images/brainbandlady.svg' alt="Brain Band Demo" />
            <div class="ext-content-1">
              <div class="rightbox">
                <div class="rb-container">
                  <ul class="rb">
                    <li class="rb-item left dotted-spaced" ng-repeat="itembx">
                      <div class="item-title">
                        Please wear the Brain Astra Headband on your head like
                        shown in the image
                      </div>
                    </li>
                    <li class="rb-item left dotted-spaced" ng-repeat="itembx">
                      <div class="item-title">
                        Press and hold the power on button.
                      </div>
                    </li>
                    <li class="rb-item left dotted-spaced" ng-repeat="itembx">
                      <div class="item-title">
                        You will feel a small vibration and the LED light on the
                        device with start flashing.
                      </div>
                    </li>
                    <li class="rb-item left dotted-spaced" ng-repeat="itembx">
                      <div class="item-title">
                        Click on scan for bluetooth devices.
                      </div>
                    </li>
                    <li class="rb-item left dotted-spaced" ng-repeat="itembx">
                      <div class="item-title">
                        A popup opens onto your left side listing all the
                        available bluetooh devices.
                      </div>
                    </li>
  
                    <li class="rb-item" ng-repeat="itembx">
                      <div class="item-title">
                        Select your device and click on pair.
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="TestDiv"></div>
            <button class="ext-content-1-btn" id="btn-scan-bluetooth">
              <img src='./images/white-bluetooth.svg' />
              Scan for bluetooh devices
            </button>
            <p class="ext-content-1-link" data-navigate="screen-3">Show previous devices</p>
          </main>
          <main id="screen-2" class="screen">
            <img src='./images/brainDevice.svg' alt="Brain Band" />
            <div class="ext-content-2">
              <div>
                <p>Device ID</p>
                <p>60445832</p>
              </div>
              <div>
                <p>Frimware version </p>
                <p>1.17.30</p>
              </div>
              <div>
                <p>Battery status </p>
                <p>
                  50% <img src='./images/battery.svg' alt="Battery Percentage" />
                </p>
              </div>
              <div>
                <p>Status of connictivity </p>
                <p>
                  Connected 
                  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="2" fill="#0ABD80"/>
                    <circle cx="4" cy="4" r="3.5" stroke="#0ABD80"/>
                  </svg>
                </p>
              </div>
            </div>
            <button class="ext-content-2-btn" data-navigate="screen-1">Disconnect</button>
          </main>
          <main id="screen-3" class="screen">
            <img src='./images/brainDevice.svg' alt="Brain Band" />
            <div class="ext-content-3">
              <h1>Previously connected devices</h1>
  
              <div class="ext-3-inside" id="device-history">
                  
              </div>
            </div>
            <div class="ext-3-btns">
              <button class="ext-content-3-btn"> <img src='./images/white-bluetooth.svg' alt=""/> Pair a new device</button>
              <li  data-navigate="screen-1">Learn how to connect </li>
            </div>
          </main>
          <footer>
            <p>Terms and Conditions</p>
            <div class="ext-logo-footer">
              <img src='./images/ext-logo1.svg' alt="WEB" />
              <img src='./images/ext-logo2.svg' alt="Facebook" />
              <img src='./images/ext-logo3.svg' alt="Twitter" />
            </div>
          </footer>
        </div>
      </div>
      <iframe id="sandboxFrame" src="sandbox.html" hidden=true></iframe>
      <script src="./iframe.js"></script>

</body>
</html>